<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Mi aplicacion</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="Opciones" class="collapse navbar-collapse">
    
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!autenticaservice.logeado(); else Salir">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
          </li>
        </ng-container>
        <ng-template #Salir>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" (click)="autenticaservice.logout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="!autenticaservice.logeado();else main">
  <router-outlet></router-outlet>
</div>
<ng-template #main>
  <app-menulateral></app-menulateral>
</ng-template>