<div class="row">
	<div class="col-md-4">
		<div class="card">
		    <div class="card-body">
				<h2>Formulario de clientes</h2>
				<form #clienteForm="ngForm" (ngSubmit)="addCliente(clienteForm)">
					<input type="hidden" name="_id" [(ngModel)]="clienteService.selectedcliente._id">
					<div class="form-group">
					  <input type="text" name="cedula"
						placeholder="Digite el numero de cedula" class="form-control"
						[(ngModel)]="clienteService.selectedcliente.cedula">
					</div>
					<div class="form-group">
					  <div class="input-field col-s12">
						<input type="text" name="nombre"
						  placeholder="Digite nombres" class="form-control"
						  [(ngModel)]="clienteService.selectedcliente.nombre">
					  </div>
					</div>
					<div class="form-group">
						<div class="input-field col-s12">
						  <input type="text" name="apellido"
							placeholder="Digite los apellidos" class="form-control"
							[(ngModel)]="clienteService.selectedcliente.apellido">
						</div>
					  </div>
					  <div class="form-group">
						<div class="input-field col-s12">
						  <input type="text" name="mail"
							placeholder="Digite el correo electronico" class="form-control"
							[(ngModel)]="clienteService.selectedcliente.mail">
						</div>
					  </div>
					<button class="btn btn-primary mr-2" (click)="resetForm(clienteForm)">Limpiar</button>
					<button class="btn btn-secondary">Guardar</button>
				</form>
		    </div>
		</div>
	</div>
	<div class="col-md-8">
		<table class="table table-striped">
	  	   <thead>
			<tr>
			  <th>
			    Cedula
			  </th>
			  <th>
			    Nombre
			  </th>
			  <th>
			    Apellido
			  </th>
			  <th>
			    Mail
			  </th>
			</tr>
		   </thead>
		   <tbody>
			   <tr *ngFor="let cliente of clienteService.clientear">
					<td>{{ cliente.cedula }}</td>
					<td>{{ cliente.nombre }}</td>
					<td>{{ cliente.apellido }}</td>
					<td>{{ cliente.mail }}</td>
					<td>
						<a class="btn btn-secondary btn-sm" (click)="editarCliente(cliente)">
						  <i class="material-icons">edit</i>
						</a>
						<a class="btn btn-danger btn-sm" (click)="eliminarCliente(cliente._id)">
						  <i class="material-icons">delete</i>
						</a>
					  </td>
			   </tr>
		   </tbody>
		</table>
	</div>
</div>